<nav>
    <a href="/">
        <img src="/images/monogram.svg" alt="" style="width: 1.5rem;">
        Home
    </a>
    <a href="/wat-en-waarom">Wat en waarom</a>
    <a href="/voor-wie-en-hoe">Voor wie en hoe</a>
    <a href="/over-ons-en-contact">Over ons en contact</a>
</nav>
