<nav>
    <a href="/" {% if page.url == '/' %}aria-current="page"{% endif %}>
        <img src="/images/monogram.svg" alt="" style="width: 1.5rem;">
        Home
    </a>
    <a href="/wat-en-waarom" {% if page.url == '/wat-en-waarom/' %}aria-current="page"{% endif %}>Wat en waarom</a>
    <a href="/voor-wie-en-hoe" {% if page.url == '/voor-wie-en-hoe/' %}aria-current="page"{% endif %}>Voor wie en hoe</a>
    <a href="/over-ons-en-contact" {% if page.url == '/over-ons-en-contact/' %}aria-current="page"{% endif %}>Over ons en contact</a>
</nav>
